.team {
  background: linear-gradient(to bottom, #E0F0FF 50%, #001337 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
