.publication__text{
    font-size: 12px;
    line-height: 16px;
    
    max-height: 128px;

    margin: 0;
    margin-top: 10px;

    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}