.projects__thumb-wrapper {
    padding-bottom: 30px;
}
@media screen and (min-width: 768px){
    .projects__thumb-wrapper {
        padding-bottom: 32px;
    }
}
@media screen and (min-width: 1100px){
    .projects__thumb-wrapper {
        padding-bottom: 44px;
    }
}