.header__menu{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 85px;
    margin-right:calc(85px + 189 * (100vw - 320px) / 448);
    margin-left: calc(16px + 23 * (100vw - 320px) / 448);
}
@media screen and (min-width: 1440px) {
    .header__menu {
        display: none;
    }
}