.intro__about-us-title{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-size: calc(16px + 8 * (100vw - 320px) / 448);
    line-height: calc(22px + 11 * (100vw - 320px) / 448);
    text-align: center;
    color: #FFFFFF;
    margin-bottom: calc(12px + 18 * (100vw - 320px) / 448);
    text-transform: uppercase;
    padding-top: calc(0px + 120 * (100vw - 320px) / 448);
}
@media screen and (min-width: 1440px) {
    .intro__about-us-title{
        padding-top:124px;
        font-size: 36px;
        line-height: 68px; 
        margin-bottom: 30px;  
    }
}