.programs__picture{
    width: 256px;
    height: 160px;
    
    align-self: center;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (min-width: 430px){
    .programs__picture{
        width: 370px;
        height: 282px; 
    }
}

@media screen and (min-width: 620px){
    .programs__picture{
        width: 280px;
        height: 282px; 
    }
}


@media screen and (min-width: 1000px){
    .programs__picture{
        width: 380px;
        height: 320px;
    }
}

@media screen and (min-width: 1250px){
    .programs__picture{
        width: 445px;
        height: 364px;
    }
}