.footer__city {
  margin: 0 0 8px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.1px;
}

@media (min-width: 768px) {
  .footer__city {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
  }
}

@media (min-width: 1440px) {
  .footer__city {
    font-weight: 600;
    line-height: 1.67;
  }
}
