.main {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-width: 1440px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff; */
}
