.title{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

@media screen and (min-width: 620px){
    .title{
        font-size: 24px;
        line-height: 33px;
    }
}

@media screen and (min-width: 1250px){
    .title{
        font-size: 36px;
        line-height: 68px;
        letter-spacing: 0.1px;
    }
}