.publications__slider-button{
    z-index: -1;

    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 36px;

    position: absolute;
    top: 52%;
}

.publications__slider-button::after{
    content: "";
    background-image: url("../../../../images/svg/arrow-down.svg");
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: 7px;
    left: 10px;
    transition: all 0.3s linear;
}

@media screen and (min-width: 900px) {
    .publications__slider-button{
        z-index: 1;
    }
}

@media screen and (min-width: 1300px) {
    .publications__slider-button{
        width: 60px;
        height: 60px;
    }

    .publications__slider-button::after{
        bottom: 10px;
        left: 12px;
    }
}

