.intro__arrow_back {
  display: none;
}

.intro__arrow_back::after {
  content: '';
}


@media (min-width: 1400px) {
  .intro__arrow_back {
    width: 60px;
    height: 60px;
    background-image: url('../../../../images/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    left: 4.18%;
    top: 78%;
    display: flex
  }

  .intro__arrow_back::after {
    content: '';
  }
}