.intro__about-us-card-title{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #001337;
    text-align: start;
    margin-top: 8px;
    margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
    .intro__about-us-card-title{
        font-size: 18px;
        line-height: 30px;
    }
}