.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    height: 80px;
    background: #000D26;
}

@media screen and (max-width: 1240px) {
    .header {
        position: relative;
    }
}