.footer__author {
  grid-area: author;
  margin: 0;
  opacity: 0.5;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__author {
    text-align: start;
    line-height: 1.67;
  }
}

@media (min-width: 1440px) {
  .footer__author {
    font-size: 14px;
    line-height: 1.36;
  }
}
