.projects__select{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 2;
    background-color: #001337;  
    border-bottom: 2px #009FAC solid;
    margin-bottom: 20px;
}
.projects__select:before{
    content: "";
    background-image: url("../../../images/svg/projects-arrow.svg");
    width: 14px;
    height: 8px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (min-width: 768px){
    .projects__select {
        display: none;
    }
}