.intro__about-us-card-polpska{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #009FAC;
    margin-bottom: 12px;
}
@media screen and (min-width: 1440px) {
    .intro__about-us-card-polpska{
        margin-bottom: 20px;
    }
}