.projects__thumb {
    border-radius: 10px;
    background: #009FAC;
    padding: 10px;
    box-sizing: border-box;
}
@media screen and (min-width: 450px){
    .projects__thumb{
        padding-bottom: 15px;
    }
}