.publications__points{    
    margin-top: 14px;
    display: flex;
    column-gap: 8px;
    row-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 620px){
    .publications__points{
        margin-top: 21px;
    }
}