.intro__about-us-knopka{
    position: absolute;
    width: 23px;
    height: 30px;
    top: -10px;
    right: 0px;
}
@media screen and (min-width: 768px) {
    .intro__about-us-knopka{
        width: 29px;
        height: 38px;
    }
}