.team__arrow_next {
  display: none;
}

.team__arrow_next::after {
  content: '';
}


@media (min-width: 1440px) {
  .team__arrow_next {
    width: 60px;
    height: 60px;
    background-image: url('../../../../images/arrow-rigth.svg');
    background-position: center;
    background-repeat: no-repeat;
    right: 89px;
  }

  .team__arrow_next::after {
    content: '';

  }
}
