.team__arrow_back {
  display: none;
}

.team__arrow_back::after {
  content: '';
}


@media (min-width: 1400px) {
  .team__arrow_back {
    width: 60px;
    height: 60px;
    background-image: url('../../../../images/arrow-left.svg');
    background-position: center;
    background-repeat: no-repeat;
    left: 5.18%;
    display: flex
  }

  .team__arrow_back::after {
    content: '';

  }
}
