.publication__picture{
    width: 256px;
    height: 160px;
    object-fit: cover;

    border-radius: 5px;

    display: block;
    margin: 0 auto;
    
}
@media screen and (min-width: 450px){
    .publication__picture{
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 768px){
    .publication__picture{
        width: 291px;
        height: 158px;

        border-radius: 10px;
    }
}

@media screen and (min-width: 1100px){
    .publication__picture{
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1400px){
    .publication__picture{
        width: 310px;
        height: 223px;
    }
}

