.popup__close {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/close.svg);
    background-size: cover;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #FFFFFF;
    border: none;
    top: 16px;
    right: 16px;
}

.popup__close:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px){
    .popup__close {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 768px) {
    .popup__close {
        top: 20px;
        right: 20px;
    }
}