.team__persons {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;
}

@media (min-width : 768px) {
  .team__persons {
    margin-bottom: 44px;
  }
}

@media (min-width : 1200px) {
  .team__persons {
    margin-bottom: 51px;
  }
}
