.intro__about-us-toshki{
    margin: 0 auto;
    padding-bottom: 54px;

    display: flex;
    justify-content: center;
    margin-top: 13px;
}
@media screen and (min-width: 768px) {
    .intro__about-us-toshki{
        margin-top: 21px;
        padding-bottom: 60px;
    }
}
@media screen and (min-width: 1440px) {
    .intro__about-us-toshki{
        margin-top: 26.5px;
        padding-bottom: 80px;
    }
}