.about-us__card-text{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000D26;
}

@media screen and (min-width: 768px) {
    .about-us__card-text{
        font-size: 14px;
        line-height: 19px;
    }
}