.projects__navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
@media screen and (min-width: 700px){
    .projects__navigation{
       justify-content: center;
       width: auto;
       column-gap: 33px;
    }
} 