.industrial{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: calc(16px + 23 * (100vw - 320px) / 448);
    padding-right: calc(16px + 23 * (100vw - 320px) / 448);
    padding-top: calc(40px + 20 * (100vw - 320px) / 448);
    padding-bottom: 40px;
    background: #E0F0FF;
}
@media screen and (min-width: 1440px) {
    .industrial{
        padding-left: 129px;
        padding-right: 165px;
    }
}