.intro__about-us-card{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E0F0FF;
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .intro__about-us-card{
        padding: 20px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1440px) {
    .intro__about-us-card{
        margin-bottom: 26px;
    }
}

