.industrial__cards{
    display: grid;
    gap: calc(8px + 22 * (100vw - 320px) / 448);
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

@media screen and (min-width: 768px) {
    .industrial__cards {
        margin-top: 30px;
    }
}
@media screen and (min-width: 1440px) {
    .industrial__cards {
        margin-top: 45px;
        gap: 30px;
        margin-left: 36px;
        
    }
}