.industrial__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    gap: 30px;
}

@media screen and (max-width: 1240px) {
    .industrial__cards {
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .industrial__cards {
        justify-content: space-around;
        gap: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
}