.team__name {
  color: #000D26;
  margin: 0;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  max-width: 75px;
  text-align: center;
}

@media (min-width: 768px) {
  .team__name {
    font-size: 14px;
    line-height: 1.35;
    max-width: 170px;

  }
}

@media (min-width: 1440px) {
  .team__name {
    font-size: 18px;
    line-height:  1.6;
    max-width: 215px;

  }
}
