.team__header {
  color: #000D26;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .team__header {
    font-size: 24px;
    line-height: 33px;
  }
}

@media (min-width: 1200px) {
  .team__header {
    font-size: 36px;
    line-height: 68px;
  }
}
