.educate__button{
    padding: 0;
    border: none;
    cursor: pointer;
    
    text-transform: uppercase;
    padding: 12px 0;
    width: 144px;

    background-color: #009FAC;
    color: #FFFFFF;
    border-radius: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (min-width: 620px){
    .educate__button{
        width: 221px;

        font-size: 14px;
        line-height: 19px; 

        border-radius: 10px;
    }
}

@media screen and (min-width: 1250px){
    .educate__button{
        width: 269px;
        padding: 15px 0;
        
        font-size: 18px;
        line-height: 30px;
    }
}