.communication__description {
  max-width: 360px;
  margin: 0 auto 23px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1px;
}

@media (min-width: 768px) {
  .communication__description {
    max-width: 919px;
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 1.43;
  }
}

@media (min-width: 1440px) {
  .communication__description {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 1.67;
  }
}
