.industrial__card-button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 120px;
    height: 32px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.0588372px;
    color: #001337;
    border: 1px solid #001337;
    border-radius: 5px;
    margin: 0 auto;
}

@media screen and (min-width: 1440px) {
    .industrial__card-button{
        margin: 0px;
        width: 215px;
        height: 40px;
        font-size: 14px;
        line-height: 19px;
        border-radius: 10px;
    }
}
.industrial__card-button:hover{
    border: none;
    color: #009FAC;
    background-color: #FFFFFF;
}