.header__burger-icon {
    width: 24px;
    height: 24px;
    display: none;
}

@media screen and (max-width: 1240px) {
    .header__burger-icon {
        display: block;
        position: absolute;
        left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .header__burger-icon {
        display: block;
        position: absolute;
        left: 20px;
    }
}