.intro__about-us-cards {
  padding: 0;
  box-sizing: border-box;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .intro__about-us-cards {
    padding-bottom: 0;
  }
}

@media (min-width : 900px) {
  .intro__about-us-cards {
    max-width: 81%;
  }
}

@media screen and (min-width: 1440px) {
  .intro__about-us-cards {
    padding-right: 95px;
  }
}