.header__icon{
    height: calc(24px + 30 * (100vw - 320px) / 1120);
    width:  calc(71px + 79 * (100vw - 320px) / 1120);
}


@media screen and (min-width: 1440px) {
    .header__icon {
        margin-left: 165px;
        margin-right: 135px;
    }
}